main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 238, 242);
  padding: 10px;
}

#title{
  text-align: center;
  width: 100%;
}

#img-div{
  background-color: rgb(126, 139, 174);
  align-items: center;
  padding: 50px;
}

#img-caption{
  font-size: large;
  font-weight: bold;
  align-items: center;
}

img{
  width: 100%;
}

#tribute-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: larger;
}
.s{
}
li{
  display: flex;
  flex-direction: column;
}